#dependency folder node modules 
**/node_modules/

#enviroment varaibles (for security)
**/.env
**/.env.local
**/.env.*.local

#build outputs
**/dist/
**/dist-ssr/
**/build/

# Logs
logs
*.log
**/log/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
